<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IndianStudyGroupAdmin"
        tools:targetApi="31">
        <activity
            android:name=".bottom_nav_bar.gym.ui.CoachDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".editGymRequest.EditGymRequestActivity"
            android:exported="false" />
        <activity
            android:name=".bottom_nav_bar.gym.ui.GymDetailsActivity"
            android:exported="false"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".addGym.AddGymActivity"
            android:exported="false" />
        <activity
            android:name=".rating.ui.ReviewActivity"
            android:exported="false" />
        <activity
            android:name=".bottom_nav_bar.attendance.ui.AttendanceHistoryShowActivity"
            android:exported="false" />
        <activity
            android:name=".bottom_nav_bar.attendance.ui.AttendanceHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".bottom_nav_bar.attendance.ui.CurrentAttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".bottom_nav_bar.more.setting.screens.PrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".bottom_nav_bar.more.setting.screens.TermsOfServiceActivity"
            android:exported="false" />
        <activity
            android:name=".bottom_nav_bar.more.setting.screens.PaymentTermsActivity"
            android:exported="false" />
        <activity
            android:name=".bottom_nav_bar.more.student_data.ui.StudentDataDetailActivity"
            android:exported="false" />
        <activity
            android:name=".bottom_nav_bar.more.setting.screens.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".editLibraryRequest.EditLibraryRequestActivity"
            android:exported="false" />
        <activity
            android:name=".qr.QrCodeShowActivity"
            android:exported="false" />
        <activity
            android:name=".add_regular_student.ui.AddRegularStudentActivity"
            android:exported="false" />
        <activity
            android:name=".message.ui.MessageActivity"
            android:exported="false" />
        <activity
            android:name=".notification.ui.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".bottom_nav_bar.more.wallet.WalletActivity"
            android:exported="false" />
        <activity
            android:name=".bottom_nav_bar.more.help_desk.HelpDeskActivity"
            android:exported="false" />
        <activity
            android:name=".bottom_nav_bar.more.setting.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".bottom_nav_bar.more.student_data.StudentDataActivity"
            android:exported="false" />
        <activity
            android:name=".bottom_nav_bar.library.ui.LibraryDetailsActivity"
            android:exported="false"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".editProfile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".addLibrary.AddLibraryActivity"
            android:exported="false" />
        <activity
            android:name=".registerScreen.OtpActivity"
            android:exported="false" />
        <activity
            android:name=".registerScreen.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".fillDetails.FillUserDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".registerScreen.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.indiastudygroupadminapp.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.indiastudygroupadminapp.libraryFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/library_file_paths" />
        </provider>

        <service
            android:name=".notification.firebase.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>